@import "../colors.module.scss";

.card {
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 3px $card-box-shadow;
  height: 340px
}

.card:hover {
  box-shadow: 2px 3px $card-box-shadow-hover;
}

.card:hover .add-button {
  visibility: visible;
}

.card:hover .delete-button {
    visibility: visible;
  }

.add-button {
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}

.delete-button {
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}
